
body{
    background-color: lightgoldenrodyellow;
  }
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #927503;
    padding: 10px 20px;
}

.navbar h1 {
    color: rgb(9, 9, 9);
    font-style: initial;
}

.navbar ul {
    list-style-type: none;
    display: flex;
}

.navbar ul li {
    margin-left: 20px;
}

.navbar ul li a {
    color: rgb(16, 16, 16);
    text-decoration: none;
}

.navbar ul li a:hover {
    text-decoration: underline;
}